<a href="https://colab.research.google.com/github/sriram842/ADM-B27-/blob/main/LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files

In [2]:
a=pd.Series([6,9,1,3,4,5])
print(a)
d1=pd.Series([3,4,5,6,7,8])
s=pd.Series([4,3,2,6,7,4,5])
print(d1)
print(s)

0    6
1    9
2    1
3    3
4    4
5    5
dtype: int64
0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
0    4
1    3
2    2
3    6
4    7
5    4
6    5
dtype: int64

In [3]:
print(d1+s)
print(d1*s)
print(d1-s)

0     7.0
1     7.0
2     7.0
3    12.0
4    14.0
5    12.0
6     NaN
dtype: float64
0    12.0
1    12.0
2    10.0
3    36.0
4    49.0
5    32.0
6     NaN
dtype: float64
0   -1.0
1    1.0
2    3.0
3    0.0
4    0.0
5    4.0
6    NaN
dtype: float64

In [5]:
content=pd.read_csv('banklist.csv')
print(content)

                                             Bank Name                City  \
0                                  Fayette County Bank          Saint Elmo
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
4                        Seaway Bank and Trust Company             Chicago
..                                                 ...                 ...
548                                 Superior Bank, FSB            Hinsdale
549                                Malta National Bank               Malta
550                    First Alliance Bank & Trust Co.          Manchester
551                  National State Bank of Metropolis          Metropolis
552                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution Closing Date Updated Date
0    IL   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1    WI  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2    LA  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3    UT  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4    IL  19328                  State Bank of Texas    27-Jan-17    18-May-17
..   ..    ...                                  ...          ...          ...
548  IL  32646                Superior Federal, FSB    27-Jul-01    19-Aug-14
549  OH   6629                    North Valley Bank     3-May-01    18-Nov-02
550  NH  34264  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
551  IL   3815              Banterra Bank of Marion    14-Dec-00    17-Mar-05
552  HI  21029                   Bank of the Orient    13-Oct-00    17-Mar-05

[553 rows x 7 columns]

In [6]:
content.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [7]:
data=pd.read_csv('banklist.csv')
print(data)

                                             Bank Name                City  \
0                                  Fayette County Bank          Saint Elmo
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
4                        Seaway Bank and Trust Company             Chicago
..                                                 ...                 ...
548                                 Superior Bank, FSB            Hinsdale
549                                Malta National Bank               Malta
550                    First Alliance Bank & Trust Co.          Manchester
551                  National State Bank of Metropolis          Metropolis
552                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution Closing Date Updated Date
0    IL   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1    WI  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2    LA  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3    UT  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4    IL  19328                  State Bank of Texas    27-Jan-17    18-May-17
..   ..    ...                                  ...          ...          ...
548  IL  32646                Superior Federal, FSB    27-Jul-01    19-Aug-14
549  OH   6629                    North Valley Bank     3-May-01    18-Nov-02
550  NH  34264  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
551  IL   3815              Banterra Bank of Marion    14-Dec-00    17-Mar-05
552  HI  21029                   Bank of the Orient    13-Oct-00    17-Mar-05

[553 rows x 7 columns]

In [8]:
print(data.isnull().sum())

Bank Name                0
City                     0
ST                       0
CERT                     0
Acquiring Institution    0
Closing Date             0
Updated Date             0
dtype: int64